<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Of Expenses</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>


            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <form th:action="@{/home}" method="get">
            <input type="submit" value="Home" />
        </form>
    </div>
    <div>

    </div>

    <div>
        <h1>Amount Spent Category-Wise</h1>
    </div>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>

                <th>Category</th>
                <th>Amount</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="ex: ${listExpenses}">
                <td th:text="${ex.key}">Amount</td>
                <td th:text="${ex.value}">Currency</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h1>Weekly Amount Spent In - [[${month}]]</h1>
    </div>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>

                <th>Week</th>
                <th>Amount</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="ex: ${weekList}">
                <td th:text="${ex.key}">Amount</td>
                <td th:text="${ex.value}">Currency</td>
            </tr>
            </tbody>
        </table>
    </div>


</div>
</body>
</html>